<!DOCTYPE html>
<html lang="ja" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <link href="css/halfmoon-variables.min.css" rel="stylesheet" />
    <title>ドロップ一覧</title>
</head>

<body class="dark-mode">

<div class="page-wrapper with-navbar">

    <%- include('./header', {page: 'index'}) %>

    <div class="content-wrapper">
        <div class="content mt-20">
            <h1 class="content-title font-size-24 font-weight-bold">ドロップ一覧</h1>

            <form action="/" class="mw-full">
                <div class="form-group">
                    <label for="name">武器名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="ライサンダーZ"
                           value="<%- name %>">
                </div>

                <button class="btn btn-primary" type="submit">検索</button>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ミッション</th>
                    <th scope="col">武器</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>

                <% for (const drop of drops) { %>
                    <tr>
                        <td><%- drop.mission %></td>
                        <td><%- drop.weaponName %></td>

                        <% if(drop.isNew) { %>
                            <td><span class="text-secondary">New</span></td>
                        <% } else { %>
                            <td><span class="text-success">Up</span></td>
                        <% } %>
                    </tr>
                <% } %>
                </tbody>
            </table>

            <% if (successMessage[0] !== undefined) { %>
                <div class="alert alert-success mt-20" role="alert">
                    <button class="close" onclick="this.parentNode.classList.add('dispose')" type="button"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading"><%- successMessage %></h4>
                </div>
            <% } %>
        </div>
    </div>

    <script src="js/halfmoon.min.js"></script>
</div>
</body>
</html>
